@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins);
}

.light {
  background-color: #f3f4f6;
  color: #0f172a;
}

.dark {
  background-color:  #111112;
  color: #d2d6dd;
}

.dark .card {
  background-color: #000000;
}

.light .card {
  background-color: white;
}

.tag::after {
  content: '';
  position: absolute;
  top: 100%; /* Pegado al lado de abajo de la etiqueta */
  right: 3px; /* Pegado al lado derecho de la tarjeta */
  transform: translateY(-50%) rotate(-45deg); /* Rotar 45 grados para formar un triángulo */
  width: 12px; /* Ancho del triángulo */
  height: 12px; /* Altura del triángulo */
  border-left: 6px solid transparent; /* Borde izquierdo transparente */
  border-right: 6px solid transparent; /* Borde derecho transparente */
  border-bottom: 6px solid #172554; /* Borde inferior para formar el triángulo */
}

.animated-box {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  z-index: 100;
}

.open {
  height: 300px;
}

.closed {
  height:0;
}